<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cliente">Cliente</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
        <input nz-input formControlName="cliente" id="cliente" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ncontainer" nzRequired>N. Container</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!!">
        <input
          nz-input
          id="ncontainer"
          formControlName="ncontainer"
          placeholder="TEST1234567"
          pattern="^[a-zA-Z]{4}[0-9]{7}$"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tipo" nzRequired>Tipo</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input not valid!"
      >
        <nz-select formControlName="tipo">
          <nz-option nzLabel="20" nzValue="20"></nz-option>
          <nz-option nzLabel="40" nzValue="40"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status" nzRequired>Status</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input not valid!"
      >
        <nz-select formControlName="status">
          <nz-option nzLabel="Cheio" nzValue="Cheio"></nz-option>
          <nz-option nzLabel="Vázio" nzValue="Vázio"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>    
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categoria" nzRequired>Categoria</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input not valid!"
      >
        <nz-select formControlName="categoria">
          <nz-option nzLabel="Importação" nzValue="Importação"></nz-option>
          <nz-option nzLabel="Exportaçao" nzValue="Exportaçao"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

  </form>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Custom Callback</button>
  <button nz-button nzType="primary" (click)="submitForm()">Custom Submit</button>
</div>
